.home {
  font-family: 'Crete Round', serif;
  font-size: 20px;
  color: #444;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #7A8FAF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #6B798E
}

.button:active {
  background-color: #6B798E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.send-button {
  display: none;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #7A8FAF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.send-button:hover {
  background-color: #6B798E
}

.send-button:active {
  background-color: #6B798E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.nav-link-Planning {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  color: #444;
  text-align: center;
  margin-top: 40px;
  display: none;
}

.session-key {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family: 'Crete Round', serif;
}

li .nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .nav-link:hover {
  background-color: #111;
}

nav {
  background-color: #06045f;
}
