.UserStory {
    font-family: 'Crete Round', serif;
    font-size: 20px;
    color: #444;
    text-align: center;
  }

.button {
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7A8FAF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button:hover {
    background-color: #6B798E
  }
  
  .button:active {
    background-color: #6B798E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .first-line {
    display: flex;
    justify-content: space-between;
  }

  #nav-link-Planning {
    margin-top: 15px;
    margin-right: 20px;
  }