.body {
    text-align: left;
}


.history-wrapper {
    height: 100%;
    width: 100%;
    height: 50vh;
    font-family: 'Crete Round', serif;
    font-size: 13px;
    color: #444;
    display: block;
  }
  
  .historyItem_post {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
    padding: 3rem 1rem 3rem 3rem;
    background: #fff;
    max-width: 800px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  }
  
  .date {
    margin: 0 0 0.5rem 0;
    font-family: 'Crete Round', serif;
    color: #999;
  }
  
  h2 {
    margin: 2rem 2rem 0 2rem;
    letter-spacing: 0.5px;
    font-family: 'Crete Round', serif;
    color: #333;
  }
  
  p {
    margin: 2rem 2rem 2rem 0;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Crete Round', serif;
  }
  
  
  .card-vote {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 90px;
    width: 60px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  .grid-history {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
  }
  .vote {
    text-align: center;
    display: grid;
    margin-left: 20px;
  }
  