  .main {
    font-family: 'Crete Round', serif;
    font-size: 12px;
    color: #444;
    text-align: center;
  }

  ol,
  ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

#selected-card {
}

  .card {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 90px;
    width: 60px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }

  .card:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }

  .card:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .card:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  form {
    text-align: center;
    flex-wrap: wrap;
  }

  input {
    border: none;
    margin: 10px;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;

  }

  .reset {
    display: inline-block;
    margin-left: 20px;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FB1138;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .reset:hover {
    background-color: #C70039
  }

  .reset:active {
    background-color: #C70039;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .confirm {
    margin-left: 10px;
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .confirm:hover {
    background-color: #3e8e41
  }

  .confirm:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .show {
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4055aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .show:hover {
    background-color: #383086
  }

  .show:active {
    background-color: #29298f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .export {
    margin-left: 10px;
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #e8dd12;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .export:hover {
    background-color: #e8dd12
  }

  .export:active {
    background-color: #e8dd12;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
  }

  .box :first-child {
    align-self: center;
  }

  #line-cards-buttons {
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 10px;
  }

  .child {
    display: inline-block;
  }

  .grid-selected {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
  }

  .id {
    text-align: left;
    margin-left: 30px;
  }

  .show-export-row {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .removeUserStory {
    margin-left: 10px;
    display: none;
    padding: 10px 25px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #7A8FAF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px #999;
  }

  .removeUserStory:hover {
    background-color: #6B798E
  }

  .removeUserStory:active {
    background-color: #6B798E;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .nav-link-AddUserStory {
    margin-left: 10px;
    display: inline-block;
}

.grid-selected {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.name-form {
  margin-top: 30px;
}

.id {
  text-align: left;
  margin-left: 30px;
  font-size: 16px;
}

.show-export-row {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
  

.removeUserStory {
  margin-left: 10px;
  display: none;
  padding: 10px 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #7A8FAF;
  border: none;
  border-radius: 8px;
  box-shadow: 0 9px #999;
}

.removeUserStory:hover {
  background-color: #6B798E
}

.removeUserStory:active {
  background-color: #6B798E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.nav-link-AddUserStory {
  margin-left: 10px;
  display: inline-block;
  padding: 10px 25px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #7A8FAF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px #999;
}

.nav-link-AddUserStory:hover {
  background-color: #6B798E
}

.nav-link-AddUserStory:active {
  background-color: #6B798E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 

.userStory {
  margin: 30px 10px 10px 10px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.userStory:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.userStory:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}